.Container {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: row1-start;
  grid-row-end: 3;
  }

  @media only screen and (max-width: 768px) {
    .Container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }