.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 550px;
    padding-right: 550px;
    pointer-events: none;
  }

  @media only screen and (max-width: 1024px) {
    .Container {
      padding-left: 250px;
      padding-right: 250px;
    }
  }

  @media only screen and (max-width: 600px) {
    .Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 100px;
      pointer-events: none;
    }
  }