@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

  /* Bulma Styling */

$family-sans-serif: 'Bahnschrift Regular', sans-serif;
$family-primary: $family-sans-serif;



@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";

/* Importing Font */


@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 1.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 10.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 11.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 12.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 13.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 14.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 2.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 3.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 4.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 5.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 6.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 7.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 8.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 9.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT.woff') format('woff');
  }

/* Burger Menu Styling */

  #page-wrap {
    text-align: center;
  
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.5s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
    float: right;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #FFFFFF
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #FFFFFF;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #3B3838;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #FFFFFF;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  

/* General/Custom Styling */


body {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

.span-style {
  background-color: white;
  height: 2px;

}

.line::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #9E221E;
  transition: width .5s
}

.line:hover::after {
  width: 100%;
  transition: width .5s;
}

.translation {
  color: #9E221E;
  font-size: 20px;
}

.translation:hover {
  font-size: 0;
  color: #9E221E;
  cursor: pointer;
}

.translation:hover:after {
  content: attr(data-hover);
  color: #9E221E;
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

footer {
  background-color: #3B3838;
  color: white;
}