/* Importing Font */


@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 1.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 10.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 11.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 12.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 13.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 14.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 2.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 3.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 4.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 5.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 6.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 7.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 8.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 9.woff') format('woff');
  }
  
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT.woff') format('woff');
  }


  /* Bulma Styling */
@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import 'bulma';

$white: #FFFFFF;
$red: #9E221E;
$grey: #3B3838;
$black: #000000;

$family-sans-serif: 'Bahnschrift Regular', sans-serif;
$family-primary: $family-sans-serif;
$gap: 50px;
$text: $white;
$link: $white;
$link-hover: $red;
$menu-item-hover-background-color: $black;


@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";


/* General/Custom Styling */

body {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
}

li {
  list-style: none;
}


.line::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #9E221E;
  transition: width .5s;
}

.line:hover::after {
  width: 100%;
  transition: width .5s;
}

.active-list {
  color: #9E221E;
}

.translation {
  color: #000000;
  font-size: 30px;
}

.translation:hover {
  font-size: 0;
  color: #000000;
  cursor: pointer;
}

.translation:hover:after {
  content: attr(data-hover);
  color: #000000;
  font-size: 30px;
}


footer {
  background-color: black;
  color: white;
}

/* Background Styling */


/* Navbar Styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
  }
}

@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
}
  
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFadeOut{
  from{
      opacity: 1;
      transform: translateX(0px);
  }
  to{
      opacity: 0;
      transform: translateX(50px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+45deg) translate(-5px, -5px);
}
