/* Font */

@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 1.woff') format('woff');
  } 
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 10.woff') format('woff');
  }
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 11.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 12.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 13.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 14.woff') format('woff');
  }
    
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 2.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 3.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 4.woff') format('woff');
  }
    
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 5.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 6.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 7.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 8.woff') format('woff');
  }
  
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT\ 9.woff') format('woff');
  }
   
@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('../fonts/BAHNSCHRIFT.woff') format('woff');
  }

/* Bulma Styling */

@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import 'bulma';

$white: #FFFFFF;
$red: #9E221E;
$grey: #3B3838;
$black: #000000;

$family-sans-serif: 'Bahnschrift Regular', sans-serif;
$family-primary: $family-sans-serif;
$link: $white;
$link-focus: $white;
$link-focus-border: $white;
$link-hover: $red;
$menu-item-hover-background-color: $black;
$input-focus-border-color: $red;
$input-arrow: $red;
$input-color: $white;

@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";

/* Custom Styling */

  ::selection {
    background-color: #9E221E;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
    height: 100%;
    color: white;
    font-family: 'Bahnschrift Regular';
  }
  footer {
    color: white;
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
  }
  h1 {
    color: black ;
    font-size: 40px;
    font-weight: semi-bold;
    text-align: center;
  }
  button {
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: 3px #9E221E solid;
    border-radius: 10px;
    width: 200px;
    height: 50px;
  }
  button:hover {
    background: #9E221E;
    color: white;
    cursor: pointer;
  }
  .spacing {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 80px;
  }
  .our-team-title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
  }
  .red-border {
    border: 1px solid #9E221E;
    height: 300px;
  }
  .font {
    font-family: 'Bahnschrift Regular';
  }

  /* Index Page Styling */
  .img-text {
    font-family: 'Bahnschrift Regular';
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 40%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .img-text-date {
    font-family: 'Bahnschrift Regular';
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 60%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .img-container {
    position: relative;
    object-position: cover;
    width: 500px;
    height: 300px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .img-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  .img-styling {
    position: absolute;
    width: 500px;
    height: 300px;
    object-fit: cover;
    left: 0;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .img-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Bahnschrift Regular';
    text-align: center;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  .img-container:hover .img-title {
    top: 90px;
  }
  .img-button {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    color: white;
    border: solid 2px white;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400px;
    text-transform: uppercase;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    z-index: 1;
    margin: 0;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 40px;
  }
  .img-button:hover {
    cursor: pointer;
    border: transparent;
  }

  .img-container:hover .img-button {
    opacity: 1;
  }
  
/* Hero Image Styling */

  .who-hero-image {
    display: table;
    width: 100%;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/homepage.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
  }
  .values-hero-image {
    display: table;
    width: 100%;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/muriwai.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
  }
  .services-hero-image {
    display: table;
    width: 100%;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/grass.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
  }
  .contact-hero-image {
    display: table;
    width: 100%;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/contact-hero.jpg") top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
  }
.blog-hero-image {
  display: table;
    width: 100%;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/piha.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
}

  /* 404 Page Styling */
  
  .error-spacing {
    padding-left: 300px;
    padding-right: 300px;
  }
  .error-title {
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bolder;
    line-height: 1.0;
  }
  .error-subtitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .error-text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.2;
  }
  .error-button {
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 3px #9E221E solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
  }
  .error-button:hover {
    background: #9E221E;
    color: white;
    cursor: pointer;
  }
  .header-spacing {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    }
  .header-font {
    font-size: 20px;
    margin: 20px;
    font-family: 'Bahnschrift Regular';
  }
  .header-font:hover {
    color: white;
  }
  .header-button {
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 3px #9E221E solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
  }
  .header-button:hover {
    background: #9E221E;
    border: 2px solid #9E221E;
    color: white;
    cursor: pointer;
  }
  .background-is-black {
    background-color: black;
    border-top: 1px solid white;
    margin-top: 60px;
  }
  .index-text {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;
    padding-left: 200px;
    padding-right: 200px;
  }
  .contact-text {
    color: white;
    font-size: 18px;
    line-height: 1.2;
  }
  .services-text {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  .values-spacing {
    padding-left: 60px;
    padding-right: 60px;
  }
  .values-title {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.1;
    font-weight: 100px;
    font-family: 'Bahnschrift Regular';
  }
  .values-line {
    background: #9E221E;
    width: 150px;
    height: 10px;
    margin-bottom: 20px;
  }
  .values-subtitle {
    color: #9E221E;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Bahnschrift Regular';
  }
  .values-text {
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  .contact-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: $family-sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 100px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .contact-button:hover {
    background: #9E221E;
    border: 2px solid #9E221E;
    color: white;
    cursor: pointer;
  }
  .index-spacing {
    margin-left: 150px;
    margin-right: 150px;
  }
  .slider-text {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 1.2;
  }
  .has-background-image {
    background-size: 1450px;
    background-repeat: no-repeat;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1;
    font-family: 'Bahnschrift Regular';
    font-style: italic;
    font-weight: 700;
  }
  .cta-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .column-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .translation-spacing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .translation {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.0;
    text-align: left;
  }
  .translation:hover {
    font-size: 0px;
    cursor: pointer;
    text-decoration: none;
  }
  .translation:hover:after {
    content: attr(data-hover);
    color: #9E221E;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
  .img-style {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:focus {outline:0;}
  .text-is-black {
    color: black;
  }
  .text-is-red {
    color: #9E221E;
  }

  /* Footer Styling */
  .column-style {
    display: flex;
    justify-content: center;
  }
  .footer-title {
    color: white;
    font-size: 25px;
    padding-right: 30px;
    list-style: none;
    font-family: 'Bahnschrift Regular';
    font-weight: 700;
    text-align: left;
  }
  .footer-font {
    font-size: 18px;
    color: white;
  }
  .list-style {
    list-style: none;
    padding-right: 30px;
    text-align: left;
    font-size: 18px;
  }
  .image-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }
  .line::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    background: #9E221E;
    transition: width .5s;
  }
  .line:hover::after {
    width: 100%;
    transition: width .5s;
  }

  /* Contact Page Styling */
  .underline {
    text-decoration: underline;
    color: #9E221E;
    font-weight: bold;
  }
  .label-style {
    font-size: 18px;
    color: white;
    text-align: left;
    font-weight: 100px;
    font-family: 'Bahnschrift Regular';
  }
  .input-style {
    border: 2px solid transparent;
    color: black;
    margin-top: 20px;
  }
  .button-style {
    text-align: center;
    color: white;
    font-size: 20px;
    border: 2px #9E221E solid;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .button-style:hover {
    background-color: #9E221E;
    border-radius: 15px;
    border: 3px #9E221E solid;
    color: white;
  }
  .contact-padding {
    padding-right: 150px;
  }
  .contact-spacing {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
  }
  .contact-subtitle {
    font-size: 20px;
    color: white;
    line-height: 1.1;
    font-family: 'Bahnschrift Regular';
  }
  .thank-you-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  .thank-you-text {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .thank-you-spacing {
    padding-left: 200px;
    padding-right: 200px;
  }

  /* Our Mahi Page Styling */
  .mahi-title {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.1;
    font-weight: 100px;
    font-family: 'Bahnschrift Regular';
  }
  .mahi-subtitle {
    color: #9E221E;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .mahi-text {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
  }
  .mahi-spacing {
    margin-left: 50px;
    margin-right: 50px;
  }
  .mahi-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mahi-line {
    background-color: white;
    height: 0.2px;
  }

  /* Blog Page Styling */
  .blog-column {
    padding-left: 0px;
    padding-right: 0px;
  }
  .read-more {
    color: #9E221E;
  }
  .card-style {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .blog-image {
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 400px;
    position: absolute;
    }
  .container-position {
    margin-top: 375px;
    margin-bottom: 200px;
  }
  .blog-title {
    font-size: 25px;
    color: black;
    line-height: 1.0;
    font-family: 'Bahnschrift Regular';
    font-weight: 700;
  }
  .blog-date {
    font-weight: medium;
    font-size: 18px;
    color: black;
  }
  .blog-content-style {
    color: black;
    font-size: 18px;
  }
  .blog-post-title {
    color: black;
    font-size: 40px;
    font-weight: 800;
    padding-top: 70px;
    line-height: 1.0;
    margin-bottom: 10px;
    font-family: 'Bahnschrift Regular';
  }
  .blog-post-date {
    color: black;
    font-weight: medium;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .blog-post-content-style {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 18px;
    padding-bottom: 50px;
  }
  .blog-button {
    text-align: center;
    background-color: transparent;
    color: #9E221E;
    font-size: 20px;
    border: 3px #9E221E solid;
    border-radius: 10px;
    width: 150px;
    height: 50px;
  }
  .blog-button:hover {
    background: #9E221E;
    color: white;
    cursor: pointer;
  }

  /* People Styling */

  .people-spacing {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .people-text {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
  }
  .people-quote {
    color: #9E221E;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-style: italic;
  }
  .people-image-wrapper {
    background-color: #9E221E;
  }
  .people-image-wrapper:hover img {
    opacity: 0.5;
    background-color: #9E221E;
    cursor: pointer;
  }
  .name-wrapper {
    overflow: hidden;
    position: relative;
  }
  .name-wrapper-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 550px;
    padding: 15px 20px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
    background: rgba(0, 0, 0, 0.9);
  }
  .name-wrapper:hover .name-wrapper-inner {
    top: 0;
    cursor: pointer;
  }
  .name-wrapper-title {
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
  }
  .name-wrapper-subtitle {
    font-weight: bold;
    font-size: 20px;
    color: white;
    line-height: 1.0;
    margin-bottom: 10px;
  }
  .name-wrapper-description {
    color: white;
    margin-bottom: 20px;
    font-weight: semi-bold;
  }
  .name-wrapper-quote {
    font-weight: bolder;
    color: white;
  }
  .name-wrapper-pepeha {
    line-height: 1.3;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  .name-wrapper-skills {
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
  }
  .people-image {
    object-fit: cover;
    margin-top: 40px;
  }
  .people-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Privacy Policy and Terms & Conditions Page Styling */

  .link-underline {
    text-decoration-line: underline;
    font-weight: bold;
    color: white;
  }
  .link-underline:hover {
    cursor: pointer;
    color: #9E221E;
  }
  .privacy-h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Bahnschrift Regular';
    text-align: center;
  }
  .privacy-title {
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Bahnschrift Regular';
    line-height: 1.0;
    margin-bottom: 20px;
  }
  .privacy-text {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  .privacy-spacing {
    margin-left: 100px;
    margin-right: 100px;
  }
  ol {
    padding-left: 40px;
  }
  .bold-subtitle {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Bahnschrift Regular';
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .bm-burger-button {
    display: none;
  }
  .bm-menu {
    display: none;
  }

@media only screen and (max-width: 1024px) {
  .values-spacing {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slide-spacing {
    margin-top: 230px;
    margin-bottom: 230px;
  }
  .translation {
    font-size: 25px;
  }
  .translation:hover:after {
    font-size: 25px;
  }
.blog-post-content-style {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 18px;
    text-align: left;
  }
  .name-wrapper-title {
    line-height: 1.1;
  }
  .index-spacing {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer-title {
    padding-right: 0px;
}
.contact-padding {
  padding-right: 50px;
}
br {
  display: none;
}
.index-text {
  padding-left: 100px;
  padding-right: 100px;
}
.spacing {
  padding-left: 100px;
  padding-right: 100px;
}
.img-text {
  margin-top: 0px;
  top: 25%;
}

@media (min-width: 768px) and (max-width: 1023px){
  .index-spacing {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  ol {
    padding-left: 20px;
  }
  button {
    font-size: 20px;
    width: 150px;
  }
  .logo-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .blog-image {
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 400px;
    position: absolute;
  }
  .blog-hero-image {
    height: 150px;
  }
  .container-position {
    margin-top: 200px;
    margin-bottom: 40px;
  }
  .blog-post-title {
    font-size: 60px;
    line-height: 1.0;
    font-weight: bold;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 20px;
  }
  .content-style {
    padding: 20px;
    color: black;
    font-size: 18px;
    text-align: left;
  }
  .footer-margin {
    margin-top: 70px;
  }
  .mahi-title {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .mahi-subtitle {
    color: #9E221E;
    font-size: 20px;
    text-align: center;
  }
  .mahi-text {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .mahi-spacing {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  } 
  .column-style {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .list-style {
    list-style: none;
    padding-right: 30px;
    text-align: center;
  }
  .contact-spacing {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }
  .contact-subtitle {
    font-size: 25px;
    text-align: center;
  }
  .mahi-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .privacy-spacing {
    margin-left: 30px;
    margin-right: 30px;
  } 
  .image-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .people-spacing {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mahi-spacing {
    margin-left: 20px;
    margin-right: 20px;
  }
  .index-spacing {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #contact-space {
    margin-bottom: 50px;
  }
  .index-text {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  .spacing {
    padding-left: 40px;
    padding-right: 40px;
  }
  .services-text {
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.1;
  }
  .translation-spacing {
    margin-bottom: 20px;
  }
  .translation {
    font-size: 20px;
    text-align: left;
  }
  .translation:hover:after {
    font-size: 20px;
  }
  .red-line-title {
    background: #9E221E; 
    width: 60px;
    margin: auto;
    height: 10px;
    margin-bottom: 10px;
  }
  .h2 {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .error-subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  .name-wrapper-inner {
    width: 400px
  }
  .name-wrapper-subtitle {
    line-height: 0.5;
    margin-bottom: 20px;
  }
  .name-wrapper-description {
    line-height: 1.2;
    
  }
  .name-wrapper-quote {
    line-height: 1;
    font-style: italic;
    color: #9E221E;
  }
  .header-font {
    display: none;
  }
  .header-spacing {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    padding-top: 30px;
  }
  .values-title {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .values-subtitle {
    color: #9E221E;
    font-size: 20px;
    text-align: center;
  }
  .values-text {
    color: white;
    font-size: 18px;
  }
  .blog-post-title {
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding-top: 70px;
    line-height: 1.0;
  }
  .blog-post-date {
    color: black;
    font-weight: medium;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .blog-post-content-style {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 18px;
    text-align: left;
  }
  .thank-you-title {
    font-size: 25px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .thank-you-spacing {
    padding-left: 30px;
    padding-right: 30px;
  }
  .thank-you-text {
    text-align: center;
    font-size: 18px;
  }
  .footer-title {
    font-size: 20px;
    padding-right: 20px;
  }
  .contact-subtitle {
    font-size: 20px;
    text-align: left;
  }
  .privacy-title {
    font-size: 25px;
  }
  .bold-subtitle {
    font-size: 18px;
  }
  .phone-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mail-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .values-spacing {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .cta-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .slide-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .people-column-style {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error-spacing {
    padding-left: 100px;
    padding-right: 100px;
  }.values-line {
    background: #9E221E; 
    width: 60px;
    height: 10px;
    margin-bottom: 20px;
  }
  .who-hero-image {
    height: 200px;
  }
  .values-hero-image {
    height: 200px;
  }
  .services-hero-image {
    height: 200px;
  }
  .contact-hero-image {
    height: 200px;
  }
  .img-text {
    position: relative;
    margin-top: 80px;
    font-size: 30px;
  }
  br {
    display: none;
  }
  .contact-padding {
    padding-right: 0;
  }
  .our-team-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 350px) {
  .index-spacing {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bm-menu {
    font-size: 20px;
  }
}

/* Navbar Styling */

@media only screen and (max-width: 768px) {
  .bm-burger-button {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    width: 36px;
    height: 25px;
    right: 36px;
    top: 36px;
    float: right;
  }
  .bm-burger-bars {
    background: #FFFFFF;
  }
  .bm-burger-bars-hover {
    background: #9E221E;
  }
  .bm-cross-button {
    height: 50px;
    width: 50px;
  }
  .bm-cross {
    background: #000000;
  }
  .bm-menu-wrap {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
  .bm-menu {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: table;
    background: white;
    font-size: 25px;
    font-family: 'Bahnschrift Regular';
    padding-top: 100px;
    padding-bottom: 400px;
  }
  .bm-morph-shape {
    fill: white;
  }
  .bm-item-list {
    padding: 50px;
  }
  .bm-item {
    text-align: left;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
.list-line {
  margin-left: 50px;
  margin-right: 50px;
}
.list-line::after {
  content: "";
  display: block;
  width: 0;
  height: 6px;
  background: #9E221E;
  transition: width .5s;
}
.list-line:hover::after {
  width: 100%;
  transition: width .5s;
  }
}  
